body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 70px 0;
  background-image: url("header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bold_row {
  font-weight: bold;
}
.table-container {
  margin: 0 auto; /* Center the table on the screen */
  max-width: 950px; /* Set a maximum width for the table */
  position: relative; /* Set the table container to relative positioning */
  z-index: 1; /* Set the z-index to make the table appear on top of the background */
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the table */
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
/* Style for the rows where "Compite?" is "Sí" */
tr.bold-row td {
  font-weight: bold;
}
/* Style for the rows where "Compite?" is "No" */
tr.no-competition-bg td {
  background-color: #f2f2f2; /* Light gray background color */
}
/* Style for table rows (header and data rows) */
tr {
  height: 50px; /* Set the row height to 40 pixels */
}
/* Styles for the color boxes */
.history-box {
  vertical-align: top;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.history-box.won {
  background-color: green;
}

.history-box.lost {
  background-color: red;
}

/* Style for the title cell */
th.title-cell {
  text-align: center;
  border-bottom: 1px solid #ddd; /* Add a 1px solid gray border at the bottom */
  padding-bottom: 8px; /* Add some spacing between the title and the column headers */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for the match-history section */
.match-history {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light drop shadow */
}

.match-history h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.match-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.match-history th,
.match-history td {
  padding: 8px;
  text-align: center;
}

.match-history th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.match-history tr:nth-child(even) {
  background-color: #f9f9f9;
}

.match-history tr:last-child {
  border-bottom: none;
}

.description-cell {
  padding: 15px;
  background-color: #f9f9f9;
  text-align: center;
}
